<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgj.lgjshop.mapper.MycarMapper">
    <select id="getCarGoods" resultType="com.lgj.lgjshop.entity.Mycar">
        select m.*,g.* from mycar as m join goods as g on m.g_id=g.id where m.uname=#{uname}
    </select>
</mapper>
